<div class="row">
    <div class="col-lg-4">
        <img class="mr-4"src="https://cdn.discordapp.com/attachments/112471487264350208/728090803716620291/lanets.png">
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12">
        <h3>Title</h3>
        <h5>Date: Lorem Ipsum</h5>
        <h5>Location: Heaven</h5>
        <p>Description: </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus enim, dignissim vitae bibendum a,
            ullamcorper vel nulla. Ut in leo tellus. Etiam vitae ex ut nunc facilisis porta eu nec ante. Vestibulum
            feugiat dapibus dui, at luctus orci tincidunt non. Phasellus elementum, tellus in tempus feugiat, ex erat
            viverra purus, non semper elit nulla nec justo. Vestibulum dui ligula, suscipit vitae ligula ut, vehicula
            sagittis nisi. Aliquam viverra nunc eget tempor blandit. </p>

        <button class="btn-primary btn btn-enroll">Enroll</button>
        <button class="btn-primary btn btn-enroll">View Details</button>
    </div>
</div>