<nav class="sidebar">
    <div class="sidebar-header" (click)="redirectHome()">
        <h3>PrepLan</h3>
    </div>
    <ul class="list-unstyled">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a>Event Manager</a>
            </li>
            <li>
                <a>Applications</a>
            </li>
            <li>
                <a>Schedule Generator</a>
            </li>
            <li>
                <a>Schedule</a>
            </li>
        </ul>
        <li>
            <a routerLink='profile'>Profile</a>
        </li>
        <li>
            <a>Events</a>
        </li>
        <li>
            <a>Team</a>
        </li>
        <li>
            <a (click)="logOut()">Log out</a>
        </li>
    </ul>
</nav>