<div>
    <p *ngIf="eventList === null">No existing Events</p>

    <form [formGroup]="editionForm" #formDir="ngForm" *ngIf="eventList !== null">
        <div [hidden]="formDir.submitted">
            <div class="cross-validation"
                [class.cross-validation-error]="editionForm.errors?.identityRevealed && (editionForm.touched || editionForm.dirty)">

                <div class="form-group">
                    <label for="event">Event</label>
                    <select id="event" class="form-control" formControlName="event">
                        <option value="" disabled> Pick an Event </option>
                        <!-- <option *ngFor="let evt of eventList" [ngValue]="evt">{{evt.title}}</option> -->
                    </select>
                    <div *ngIf="event.invalid && (event.dirty || event.touched)" class="alert alert-danger">
                        <div *ngIf="event.errors.required">
                            Pronoun is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="editName">Edition Name</label>
                    <input id="editName" class="form-control" formControlName="editName" required>

                    <div *ngIf="editName.invalid && (editName.dirty || editName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="editName.errors.required">
                            Event Name is required.
                        </div>
                        <div *ngIf="editName.errors.minlength">
                            Event Name must be at least 6 characters long.
                        </div>
                        <div *ngIf="editName.errors.shouldNotHaveSpaces">
                            Event Name cannot contain invalid characters.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="editStartDate">Edition Start Date</label>
                    <input id="editStartDate" class="form-control" formControlName="editStartDate" type="datetime-local"
                        required>

                    <div *ngIf="editStartDate.invalid && (editStartDate.dirty || editStartDate.touched)"
                        class="alert alert-danger">
                        <div *ngIf="editStartDate.errors.required">
                            Event Start Date is required.
                        </div>
                        <div *ngIf="editStartDate.errors.minlength">
                            Event Start Date must be at least 6 characters long.
                        </div>
                        <div *ngIf="editStartDate.errors.shouldNotHaveSpaces">
                            Event Start Date cannot contain invalid characters.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="editEndDate">Edition End Date</label>
                    <input id="editEndDate" class="form-control" formControlName="editEndDate" type="datetime-local"
                        required>

                    <div *ngIf="editEndDate.invalid && (editEndDate.dirty || editEndDate.touched)"
                        class="alert alert-danger">
                        <div *ngIf="editEndDate.errors.required">
                            Event End Date is required.
                        </div>
                        <div *ngIf="editEndDate.errors.minlength">
                            Event End Date must be at least 6 characters long.
                        </div>
                        <div *ngIf="editEndDate.errors.shouldNotHaveSpaces">
                            Event End Date cannot contain invalid characters.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div>
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" (click)="createEdition($event)">Create</button>
    </div>
</div>