<h1>volunteer-list works!</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col"># Free Shifts</th>
                <th scope="col">View More</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="selection">
                    <input type="checkbox">
                </td>
                <td>Mark</td>
                <td>Otto</td>
                <td>20</td>
                <td>rawr@rawr.com</td>
                <td>4</td>
                <td>
                    <button type="button" class="btn icon"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)="loadModal()">
                        <i class="fas fa-search-plus fa-lg"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <inscription-event-form [viewOnly]="true"></inscription-event-form>
    </div>
  </div>
</div>