<div class="btn-section ">
        <button class="btn btn-primary" (click)="approveSelected()"> <i class="far fa-thumbs-up"></i> Approve
            Selected</button>
        <button class="btn btn-danger" (click)="disapproveSelected()"> <i class="far fa-thumbs-down"></i> Disapprove
            Selected</button>
    <div class="dropdown right ">
        <select id="volunteer-filter" class="form-control" [(ngModel)]="selectedFilter" (change)="onFilterChange($event)">
            <option value="ALL" selected> ALL STATUS </option>
            <option *ngFor="let key of statusOptions" [ngValue]="key" [label]="status[key]"></option>
        </select>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col"># Free Shifts</th>
                <th scope="col">Status</th>
                <th scope="col">View More</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of inscriptionCheckboxes">
                <td class="selection">
                    <input type="checkbox" [(ngModel)]="i.checked">
                </td>
                <td>{{i.inscriptionEvent.profile.user.firstName}}</td>
                <td>{{i.inscriptionEvent.profile.user.lastName}}</td>
                <td>{{getAge(i.inscriptionEvent.profile.user.birthday)}}</td>
                <td>{{i.inscriptionEvent.profile.user.account.email}}</td>
                <td>{{getShiftCount(i.inscriptionEvent.availabilities)}}</td>
                <td>{{i.inscriptionEvent.status}}</td>
                <td>
                    <button type="button" class="btn icon" data-toggle="modal" data-target=".bd-example-modal-lg"
                        (click)="loadModal(i.inscriptionEvent)">
                        <i class="fas fa-search-plus fa-lg"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <inscription-event-form [viewOnly]="true"></inscription-event-form>
        </div>
    </div>
</div>