body {
  font-family: 'Roboto Condensed', sans-serif;
}

.btn-primary {
    background-color: #FF741F ;
    color: white;
    border:none;
}
.btn-primary:hover{
    background-color: #b35217;
}

.btn-primary.disabled, 
.btn-primary:disabled {
  background-color: #DA9C77 ;
}
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(139, 70, 14, 0.5)
}
.fas {
    color:#FF741F ;
}