$primary: #ff741f;
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #282828;
  color: white;
}

.content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.fas {
  color: $primary;
}

.section {
  padding: 1rem;
  background-color: #444;
  margin-bottom: 1rem;
  border-radius: 15px;

  // .btn-primary{
  //   float:right;
  // }
}

.modal-content {
  background-color: #444;
}

.right {
  float: right;
}
// .btn-primary {
//     background-color: #FF741F ;
//     color: white;
//     border:none;
// }
// .btn-primary:hover{
//     background-color: #b35217;
// }

// .btn-primary.disabled,
// .btn-primary:disabled {
//   background-color: #DA9C77 ;
// }
// .btn-primary:focus,
// .btn-primary.focus {
//     box-shadow: 0 0 0 .2rem rgba(139, 70, 14, 0.5)
// }
// .fas {
//     color:#FF741F ;
// }

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}

html,
body {
  height: 100%;
}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
