ul {
    background-color: #222;
    padding: 1rem;
    border-radius: 15px;
    li {
        a {
            color: #fff;
        }
    }
}

.nav-pills .nav-link.active{
    background-color: #FF741F;
}
