<div>
    <h1>Inscription to {{edition?.event?.title}}-{{edition?.name}}</h1>
</div>
<div class=" row justify-content-md-center ">
    <div class="col-md-10">
        <div *ngIf="step == 1" class="user-info">
            <div class="section">
                <user-form [viewOnly]="viewOnly"></user-form>
            </div>
            <div class="section">
                <emergency-contact-form [viewOnly]="viewOnly"></emergency-contact-form>
            </div>
        </div>

        <div *ngIf="step == 2" class="section">
            <h4>Availabilities</h4>
            <span class="error" *ngIf="errorNoChecked"> Please select at least one availability</span>
            <div class="days" *ngFor="let a of availabilities">
                <h5>{{a.date.format("dddd, MMMM Do YYYY")}}</h5>
                <div class="form-check form-check-inline col-2" *ngFor="let shift of a.shiftsInDay">
                    <input class="form-check-input" type="checkbox" [value]="shift.value" [(ngModel)]="shift.checked">
                    <label class="form-check-label">{{shift.name}}</label>
                </div>
            </div>

        </div>

        <div *ngIf="step == 3">
            <form [formGroup]="preferencesForm" #formDir="ngForm">
                <div class="cross-validation"
                    [class.cross-validation-error]="preferencesForm.errors?.identityRevealed && (preferencesForm.touched || preferencesForm.dirty)">

                    <div class="section">
                        <h4>Preferred Max Hours</h4>
                        <div class="form-group">
                            <label>How many hours maximum per day? </label>
                            <select class="form-control" formControlName="hoursPreference">
                                <option *ngFor="let hours of hoursContract" [ngValue]="hours">{{hours}}</option>
                            </select>
                            <div *ngIf="hoursPreference.invalid && (hoursPreference.dirty || hoursPreference.touched)"
                                class="alert alert-danger">
                                <div *ngIf="hoursPreference.errors.required">
                                    Max Hours is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <h4>Preferred Departments</h4>
                        <div class="form-group">
                            <label>Choose your 1st preferred department </label>
                            <select class="form-control" formControlName="firstPreference">
                                <option *ngFor="let dept of departments" [ngValue]="dept">{{dept.name}}</option>
                            </select>
                            <div *ngIf="firstPreference.invalid && (firstPreference.dirty || firstPreference.touched)"
                                class="alert alert-danger">
                                <div *ngIf="firstPreference.errors.required">
                                    Department is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose your 2nd preferred department </label>
                            <select class="form-control" formControlName="secondPreference">
                                <option *ngFor="let dept of departments" [ngValue]="dept">{{dept.name}}</option>
                            </select>
                            <div *ngIf="secondPreference.invalid && (secondPreference.dirty || secondPreference.touched)"
                                class="alert alert-danger">
                                <div *ngIf="secondPreference.errors.required">
                                    Department is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose your 3rd preferred department</label>
                            <select class="form-control" formControlName="thirdPreference">
                                <option *ngFor="let dept of departments" [ngValue]="dept">{{dept.name}}</option>
                            </select>
                            <div *ngIf="thirdPreference.invalid && (thirdPreference.dirty || thirdPreference.touched)"
                                class="alert alert-danger">
                                <div *ngIf="thirdPreference.errors.required">
                                    Department is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="">
            <button *ngIf="step == 3 && !viewOnly" class="btn btn-primary" (click)="submit()">Submit </button>
            <button *ngIf="step !== 3" class="btn btn-primary" (click)="goToNextStep()">Next</button>
            <button *ngIf="step !== 1" class="btn btn-primary" (click)="goToLastStep()">Back</button>
        </div>
    </div>
</div>