<nav class="sidebar">
    <div class="sidebar-header" (click)="redirectHome()">
        <h3>PrepLan</h3>
    </div>
    <div class="sidebar-content">
        <ul class="list-unstyled">
            <li *ngIf="isOrganizer">
                <a [routerLink]="['event-manager']" >Event Manager</a>
            </li>
            <li>
                <a [routerLink]="['profile']">Profile</a>
            </li>
            <li>
                <a [routerLink]="['event-list']" >Event List</a>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li class="logout-sidebar-button">
                <a (click)="logOut()">Log out</a>
            </li>
        </ul>
    </div>
</nav>