<nav class="sidebar">
    <div class="sidebar-header" (click)="redirectHome()">
        <h3>PrepLan</h3>
    </div>
    <ul class="list-unstyled">
        <span href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Coordinator Panel</span>
        <ul class="list-unstyled" id="pageSubmenu">
            <li>
                <a routerLink='event-manager'>Event Manager</a>
            </li>
            <li>
                <a>Applications</a>
            </li>
            <li>
                <a>Schedule Generator</a>
            </li>
            <li>
                <a>Schedule</a>
            </li>
        </ul>
        <li>
            <a routerLink='profile'>Profile</a>
        </li>
        <li>
            <a routerLink='event-list' >Event List</a>
        </li>
        <li>
            <a (click)="logOut()">Log out</a>
        </li>
    </ul>
</nav>