img {
    max-width: 15rem;
}

.btn-enroll{
    float:right;
    margin: 0px 10px;
}

.btn {
    float:right;
    margin: 0px 10px;
}
.align-right{
    align-content: right;
}
li{
    padding: 2rem;
    background-color: #444;
    border-bottom: thick;
    border-color: #222;
    margin: 1rem 0rem;
}
