<!-- <h3>Event List</h3>
<div class="row">
    Placeholder for filters
</div>
<div class="row">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <event-tile></event-tile>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <event-tile></event-tile>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <event-tile></event-tile>
        </a>
    </div>
</div> -->

<ul class="list-unstyled">
    <event-tile></event-tile>
</ul>