<div>
    <form [formGroup]="eventForm" #formDir="ngForm">
        <div [hidden]="formDir.submitted">
            <div class="cross-validation"
                [class.cross-validation-error]="eventForm.errors?.identityRevealed && (eventForm.touched || eventForm.dirty)">

                <div class="form-group">
                    <label for="eventTitle">Event Title</label>
                    <input id="eventTitle" class="form-control" formControlName="eventTitle" required>

                    <div *ngIf="eventTitle.invalid && (eventTitle.dirty || eventTitle.touched)"
                        class="alert alert-danger">
                        <div *ngIf="eventTitle.errors.required">
                            Event title is required.
                        </div>
                        <div *ngIf="eventTitle.errors.minlength">
                            Event title must be at least 6 characters long.
                        </div>
                        <div *ngIf="eventTitle.errors.shouldNotHaveSpaces">
                            Event Title cannot contain invalid characters.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="eventDescription">Description</label>
                    <textarea id="eventDescription" class="form-control" formControlName="eventDescription"
                        required></textarea>
                    <div *ngIf="eventDescription.invalid && (eventDescription.dirty || eventDescription.touched)"
                        class="alert alert-danger">
                        <div *ngIf="eventDescription.errors.required">
                            Event description is required.
                        </div>
                        <div *ngIf="eventDescription.errors.minlength">
                            Event description must be at least 6 characters long.
                        </div>
                        <div *ngIf="eventDescription.errors.shouldNotHaveSpaces">
                            Event description cannot contain invalid characters.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="activateButton">
        <button id="event-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" (click)="createEvent($event)">Create</button>
    </div>
</div>